{% extends "base_generic.html" %}

{% block content %}

<h2><strong>Project:</strong> {{ project.name }} </h2>
<hr>
<p><strong>Date:</strong> {{ project.date }}</p>

<p><strong>Description:</strong> {{ project.description}}</p>
<p><strong>Experiment(s):</strong> </p>
{% for experiment in project.experiment_set.all %}
  <dd>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'experiment-detail' experiment.pk %}">{{experiment}}</a></dd>
{% endfor %}
<dd> {{project.experiment_set_list}} </dd>
{% endblock %}
