{% extends "base_generic.html" %}

{% block content %}

<h2><strong>Project:</strong> {{ project.name }} </h2>
<hr>

<div style="margin-left:10px;margin-top:20px">
  <h4>Project details</h4>
</div>

<div style="margin-left:30px;margin-top:10px">
  <strong>Starting date:</strong> {{ project.start_date }}</br>
  {% if project.end_date %}
    <strong>Ending date:</strong> {{ project.end_date }}</br>
  {% endif %}

  <strong>Status:</strong> {{ project.status }}</br>
  <strong>Tags:</strong> {{ project.project_tag.all|join:", "  }}</br>
  <strong>Description:</strong> {{ project.description}}</br>
  {% if project.analysis_project.all %}<strong>Analyses:</strong></br>{% endif %}
  {% for ana in project.analysis_project.all %}
    <div style="margin-left:20px;margin-top:0px">
      <a href="{{ ana.get_absolute_url }}"> {{ ana }}</a></br>
    </div>
  {% endfor %}
</br>


  {% if project.zenodo.all %}
    <strong>Zenodo</strong></br>
    {% for zeno in project.zenodo.all %}
      <div style="margin-left:20px;margin-top:0px">
        {% if zeno.title %}<strong>Title:</strong> {{ zeno.title  }}</br>{% endif %}
        {% if zeno.doi %}<strong>DOI:</strong> {{ zeno.doi  }}</br>{% endif %}
      </div>
   
    {% endfor %}
  {% endif %}
</br>

  {% if project.publication.all %}
    <strong>Publication</strong></br>
    {% for pub in project.publication.all %}
      <div style="margin-left:20px;margin-top:0px">
        <strong>Name</strong> {{ pub.name_short }}</br>
        <strong>Bioarxiv ID</strong> {{ pub.bioarxiv_id }}</br>
        <strong>Bioarxiv title</strong> {{ pub.bioarxiv_title }}</br>
        {% if pub.journal_id %}<strong>Journal ID:</strong> {{ pub.journal_id }}</br>{% endif %}
        {% if pub.journal_title %}<strong>Journal title:</strong> {{ pub.journal_title }}</br>{% endif %}
      </div>
      {% if forloop.counter != project.publication.all|length %} 
        <br/>
      {% endif %}
    {% endfor %}
  {% endif %}
</br>

  <strong>Contributions:</strong> </br>
  <div style="margin-left:20px;margin-top:0px">
    {% for cont in project.contribution.all %}
        <strong>contributor: </strong>{{cont.contributor.all|join:", "}} <br/>
        <strong>type: </strong>{{cont.type}} <br/>
        <strong>origin: </strong>{{cont.origin}} <br/>
        {% if cont.description %}<strong>description: </strong> {{cont.description}} <br/> {% endif %}
    {% endfor %}
    <br/>
</div>
</br>

</div>

<hr>
<h4>RawDataset/Experiment</h4>
<div style="margin-left:20px;margin-top:0px">

{% for rds in project.dataset.all %}
<strong>{{forloop.counter}}</strong>  RawDataset: <a href="{{ rds.raw_dataset.get_absolute_url }}"> {{ rds.raw_dataset }}</a>  Experiment: <a href="{{ rds.experiment.get_absolute_url }}"> {{ rds.experiment }}</a><br>

 

{% endfor %}
</div>




{% endblock %}


