{% extends "base_generic.html" %}

{% block content %}

<h2><strong>Project:</strong> {{ project.name }} </h2>
<hr>

<div style="margin-left:10px;margin-top:20px">
  <h4>Project details</h4>
</div>

<div style="margin-left:30px;margin-top:10px">
  <strong>Starting date:</strong> {{ project.date }}</br>
  <strong>Status:</strong> {{ project.status }}</br>
  <strong>Tags:</strong> {{ project.project_tag.all|join:", "  }}</br>
  <strong>Description:</strong> {{ project.description}}</br>
  {% if project.zenodo.all %}
  <strong>Zenodo:</strong> {{ project.zenodo.all  }}</br>
  {% endif %}
  {% if project.publication.all %}
  <strong>publication:</strong> {{ project.publication.all  }}</br>
  {% endif %}
  <strong>Contributions:</strong> </br>
  <div style="margin-left:20px;margin-top:0px">
    {% for cont in project.contribution.all %}
        <strong>contributor: </strong>{{cont.contributor.all|join:", "}} <br/>
        <strong>type: </strong>{{cont.type}} <br/>
        <strong>origin: </strong>{{cont.origin}} <br/>
        <strong>description: </strong> {{cont.description}} <br/> 
        {% if forloop.counter != experiment.contribution.all|length %} 
            <br/>
        {% endif %}
    {% endfor %}
    <br/>
</div>


</div>

<hr>
<h4>RawDataset/Experiment</h4>
<div style="margin-left:20px;margin-top:0px">

{% for rds in project.dataset.all %}
<strong>{{forloop.counter}}</strong>  RawDataset: <a href="{{ rds.raw_dataset.get_absolute_url }}"> {{ rds.raw_dataset }}</a>  Experiment: <a href="{{ rds.experiment.get_absolute_url }}"> {{ rds.experiment }}</a><br>

 

{% endfor %}
</div>




{% endblock %}


