{% extends "base_generic.html" %}
{% load rawdata_catalog_extras %}
{% block content %}
<style>
ul { margin-top: 0; }
ul { margin-bottom: 0; }
</style>

<h1>Raw dataset list</h1>


<p>Click on the refresh button below to check if new datasets could be added</p>


<form method="POST">
    {% csrf_token %}
    <input type="submit" name="reload_dataset"  value="Reload dataset">
    <input type="submit" name="reload_pyrat"    value="Reload pyrat">
    <input type="submit" name="reload_mutation" value="Reload mutation">
</form>
</br>

<!--form type="get" action="." style="margin: 0"-->
<form method="POST">
    {% csrf_token %}
    <select id="search_specie" name="search_specie" multiple>
        <option selected disabled>Specie&nbsp;</option>
        {% for specie in search_dict.specie %}
            <option value="{{ specie }}">{{ specie }}</option>
        {% endfor %}
    </select>

    <select id="search_devstage" name="search_devstage" multiple>
        <option selected disabled>Dev stage&nbsp;</option>
        {% for dev_stage in search_dict.developmental_stage %}
            <option value="{{ dev_stage }}">{{ dev_stage }}</option>
        {% endfor %}
    </select>

    <select id="search_mutation" name="search_mutation" multiple>
        <option selected disabled>Mutation&nbsp;</option>
        {% for mut in search_dict.mutation %}
            <option value="{{ mut }}">{{ mut }}</option>
        {% endfor %}
    </select>

    <select id="search_grade" name="search_grade" multiple>
        <option selected disabled>Grade&nbsp;</option>
        {% for gr in search_dict.grade %}
            <option value="{{ gr }}">{{ gr }}</option>
        {% endfor %}
    </select>

    <select id="search_instrument_type" name="search_instrument_type" multiple>
        <option selected disabled>Inst. type&nbsp;</option>
        {% for inst in search_dict.instrument_type %}
            <option value="{{ inst }}">{{ inst }}</option>
        {% endfor %}
    </select>

    <select id="search_instrument_name" name="search_instrument_name" multiple>
        <option selected disabled>Inst. name&nbsp;</option>
        {% for inst in search_dict.instrument_name %}
            <option value="{{ inst }}">{{ inst }}</option>
        {% endfor %}
    </select>
    <br><br>
    <input type="submit" value="Submit">

</form>
<br>
<p>Hold down the Ctrl (windows) or Command (Mac) button to select multiple options.</p>




<h4>Added by last refresh: </h4> 
<div style="margin-left:20px;margin-top:20px">
    <dl>
        <dd> {{ datasetsummary.n_newdatasets }} new datasets, {{ datasetsummary.n_newfiles }} new files, {{ datasetsummary.n_newsize |floatformat:2  }} new GB </dd>
    </dl>
</div>
<img src="data:image/png;base64,{{ plot }}"/>


<h4>Total Available: </h4>
<div style="margin-left:20px;margin-top:20px">
    <dl>
        <dd> {{ datasetsummary.n_totdatasets_filter }} datasets,   {{ datasetsummary.n_totfiles_filter }} files, {{ datasetsummary.n_totsize_filter |floatformat:2  }} TB   </dd>
    </dl>
</div>
<img src="data:image/png;base64,{{ plottot }}"/>
</br>

<h4>Raw datasets list: {{ datasetsummary.n_totdatasets_filter }} datasets,   {{ datasetsummary.n_totfiles_filter }} files, {{ datasetsummary.n_totsize_filter |floatformat:2 }} TB </h4>
<div style="margin-left:20px;margin-top:20px">

    {% for key, value in rawdata_dict.items %}
    <h5>{{ key }}: {{value.n_datasets }} datasets, {{value.tot_files }} files,  {{value.tot_size |floatformat:4 }} TB</h5>
        {% for v in value.datasets %}
            {% for rawdata in model_data %}         
                {% if v.data_name == rawdata.data_name and key == rawdata.data_type  %}
               <div style="margin-left:20px;margin-top:1px">
                <ul>
                <li>
                {% if rawdata.experimentaldataset.experimental_condition.filled == 'False' %} 
                    <p style="display:inline;color:#FF0000";>Not yet filled   </p>
                {% endif %}

                <a href="{{ rawdata.get_absolute_url }}">
                        {{ v.data_name }}
                </a>
                &nbsp;&nbsp;&nbsp;&nbsp;raw data: {{ v.number_of_raw_files }} files, {{v.total_raw_size  |floatformat:2 }} GB {% if v.number_of_other_files != "0" %}&nbsp;&nbsp; other data: {{ v.number_of_other_files }} files, {{v.total_other_size  |floatformat:2 }} GB{% endif %}
                
                {% if rawdata.experimentaldataset.experiment %}
                    <div style="margin-left:15px;margin-top:1px">
                        <ul>
                            <li>
                                Experiment: 
                                <a href="{{ rawdata.experimentaldataset.experiment.get_absolute_url }}"> 
                                {{ rawdata.experimentaldataset.experiment.experiment_name}} 
                                </a>
                            </li>
                        </ul>
                    </div>
                {% endif %}

                {% if rawdata.experimentaldataset.project_dataset.all %}
                    <div style="margin-left:15px;margin-top:1px">
                        <ul>
                            <li>
                                Project(s): 
                                {% for proj in rawdata.experimentaldataset.project_dataset.all %}
                                    {% if rawdata.experimentaldataset.project_dataset.all|length == 1 %}<a href="{{ proj.get_absolute_url }}">{{ proj.name }}</a> {% endif %}
                                    {% if rawdata.experimentaldataset.project_dataset.all|length > 1 %}
                                        {% if forloop.counter == 1 %} <a href="{{ proj.get_absolute_url }}">{{ proj.name }}</a> {% endif %}
                                        {% if forloop.counter > 1 %} ; <a href="{{ proj.get_absolute_url }}">{{ proj.name }}</a>{% endif %}
                                    {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                {% endif %}


                {% for proj in rawdata.experimentaldataset.project_dataset.all %}
                {% if proj.analysis_project.all %}
                    <div style="margin-left:15px;margin-top:1px">
                        <ul>
                            <li>
                                Analysis(es): 
                                {% for ana in proj.analysis_project.all %}
                                     
                                        {% if proj.analysis_project.all|length == 1 %}<a href="{{ ana.get_absolute_url }}">{{ ana.name }}</a> {% endif %}
                                        {% if proj.analysis_project.all|length > 1 %}
                                        {% if forloop.counter == 1 %} <a href="{{ ana.get_absolute_url }}">{{ ana.name }}</a> {% endif %}
                                        {% if forloop.counter > 1 %} ; <a href="{{ ana.get_absolute_url }}">{{ ana.name }}</a>{% endif %}
                                        {% endif %}
                                {% endfor %}
                            </li>
                        </ul>
                    </div>
                {% endif %}
                {% endfor %}
              </li>
            </div>
        </ul>

                {% endif %}
            {% endfor %}
        {% endfor %}
    </br>

    {% endfor %}
</br>
</br>
</div>



</div>
{% endblock %}
