{% extends "base_generic.html" %}
{% load rawdata_catalog_extras %}
{% block content %}
<h1>Raw dataset list</h1>


<p>Click on the refresh button below to check if new datasets could be added</p>


<form method="post">
    {% csrf_token %}
    <input type="submit" name="reload_dataset"  value="Reload dataset">
    <input type="submit" name="reload_pyrat"    value="Reload pyrat">
    <input type="submit" name="reload_mutation" value="Reload mutation">
</form>
</br>

<!--form type="get" action="." style="margin: 0"-->
<form method="POST">
    {% csrf_token %}
    <select id="search_specie" name="search_specie">
        <option selected disabled>--Select Specie--</option>
        {% for specie in search_dict.specie %}
            <option value={{ specie }}>{{ specie }}</option>
        {% endfor %}
    </select>

    <select id="search_devstage" name="search_devstage">
        <option selected disabled>---Select Dev stage--</option>
        {% for dev_stage in search_dict.developmental_stage %}
            <option value={{ dev_stage }}>{{ dev_stage }}</option>
        {% endfor %}
    </select>

    <select id="search_mutation" name="search_mutation">
        <option selected disabled>---Select mutation--</option>
        {% for mut in search_dict.mutation %}
            <option value={{ mut }}>{{ mut }}</option>
        {% endfor %}
    </select>

    <select id="search_grade" name="search_grade">
        <option selected disabled>---Select grade--</option>
        {% for gr in search_dict.grade %}
            <option value={{ gr }}>{{ gr }}</option>
        {% endfor %}
    </select>

    <button id="search_submit" type="submit" >Submit</button>
</form>




<h4>Added by last refresh: </h4> 
<div style="margin-left:20px;margin-top:20px">
    <dl>
        <dd> {{ datasetsummary.n_newdatasets }} new datasets, {{ datasetsummary.n_newfiles }} new files, {{ datasetsummary.n_newsize |floatformat:2  }} new GB </dd>
    </dl>
</div>
<img src="data:image/png;base64,{{ plot }}"/>


<h4>Total Available: </h4>
<div style="margin-left:20px;margin-top:20px">
    <dl>
        <dd> {{ datasetsummary.n_totdatasets }} datasets,   {{ datasetsummary.n_totfiles }} files, {{ datasetsummary.n_totsize |floatformat:2  }} TB   </dd>
    </dl>
</div>
<img src="data:image/png;base64,{{ plottot }}"/>
</br>

<h4>Raw datasets list: {{ datasetsummary.n_totdatasets_filter }} datasets,   {{ datasetsummary.n_totfiles_filter }} files, {{ datasetsummary.n_totsize_filter |floatformat:2 }} TB </h4>
<div style="margin-left:20px;margin-top:20px">

    {% for key, value in rawdata_dict.items %}
    <h5>{{ key }}: {{value.n_datasets }} datasets, {{value.tot_files }} files,  {{value.tot_size |floatformat:4 }} TB</h5>
        {% for v in value.datasets %}
            {% for rawdata in model_data %}         
                {% if v.data_name == rawdata.data_name and key == rawdata.data_type  %}
               <div style="margin-left:40px;margin-top:1px">
                <li>
                {% if rawdata.experimentaldataset.experimental_condition.filled == 'False' %} 
                <p style="display:inline;color:#FF0000";>Not yet filled</p>
                                {% endif %}

                <a href="{{ rawdata.get_absolute_url }}">
                        {{ v.data_name }}: {{ v.number_of_files }} files, {{v.total_size  |floatformat:2 }} GB
                </a>
              </li>
            </div>

                {% endif %}
            {% endfor %}
        {% endfor %}
    </br>

    {% endfor %}
</br>
</br>
</div>



</div>
{% endblock %}
