{% extends "base_generic.html" %}

{% block content %}

<h2>Contributor: {{ contributor.person }} </h2>
<hr>

<div style="margin-left:10px;margin-top:20px">
  <h4>Contributor details</h4>
</div>
<div style="margin-left:30px;margin-top:10px">

<strong>First Name:</strong> {{ contributor.person.first_name }}</br>
<strong>Last Name:</strong> {{ contributor.person.last_name }}</br>
<strong>Email:</strong> {{ contributor.email_address }}</br>
<strong>Orcid:</strong> {{ contributor.person.orcid }}</br>
<strong>Affiliation(s):</strong> 

{% for affiliation in contributor.affiliation.all %}
<a href="{% url 'affiliation-detail' affiliation.pk %}">{{affiliation}}</a> </br>
{% endfor %}


</div>

<hr>



<div style="margin-left:10px;margin-top:20px">
  <h4>Projects</h4>
  <div style="margin-left:10px;margin-top:20px">
    <dl>
      {% for contribution in contributor.contribution_set.all %}
        {% for project in contribution.project_set.all %}
            <a href="{% url 'project-detail' project.pk %}">{{project}}</a></br>
        {% endfor %}
      {% endfor %}
  </dl>
  </div>
  </div>



  <div style="margin-left:10px;margin-top:20px">
    <h4>Experiments</h4>
    <dl>
      <div style="margin-left:10px;margin-top:20px">
    
        {% for contribution in contributor.contribution_set.all %}
          {% for experiment in contribution.experiment_set.all %}
          <a href="{% url 'experiment-detail' experiment.pk %}">{{experiment}}</a></br>
          {% endfor %}
        {% endfor %}
    </div>
    
    </dl>
    </div>




{% endblock %}













