{% extends "base_generic.html" %}

{% block content %}

<h2>Person: {{ person.first_name }} {{ person.last_name }}</h2>
<hr>
<div style="margin-left:10px;margin-top:20px">
  <h4>Person details</h4>
  <div style="margin-left:10px;margin-top:20px">

<strong>First Name:</strong> {{ person.first_name }}</br>
<strong>Last Name:</strong> {{ person.last_name }}</br>
<strong>Orcid:</strong> {{ person.orcid }}</br>
</div>
</div>

<hr>

<div style="margin-left:10px;margin-top:20px">
  <h4>Affiliation(s)</h4>
  <div style="margin-left:10px;margin-top:10px">
    <dl>
      {% for contributor in person.contributor_set.all %}
    {% for affiliation in contributor.affiliation.all %}
      <a href="{% url 'affiliation-detail' affiliation.pk %}">{{affiliation}}</a> </br>
    {% endfor %}
  {% endfor %}
</dl>  
</div>
</div>

<hr>

<div style="margin-left:10px;margin-top:20px">
<h4>Projects</h4>
<div style="margin-left:10px;margin-top:10px">
  <dl>
  {% for contributor in person.contributor_set.all %}
    {% for contribution in contributor.contribution_set.all %}
      {% for project in contribution.project_set.all %}
          <a href="{% url 'project-detail' project.pk %}">{{project}}</a></br>
      {% endfor %}
    {% endfor %}
  {% endfor %}
</dl>
</div>
</div>

<hr>

<div style="margin-left:10px;margin-top:20px">
<h4>Experiments</h4>
<dl>
  <div style="margin-left:10px;margin-top:10px">

  {% for contributor in person.contributor_set.all %}
    {% for contribution in contributor.contribution_set.all %}
      {% for experiment in contribution.experiment_set.all %}
      <a href="{% url 'experiment-detail' experiment.pk %}">{{experiment}}</a></br>
      {% endfor %}
    {% endfor %}
  {% endfor %}
</div>

</dl>
</div>

{% endblock %}
