{% extends "base_generic.html" %}

{% block content %}
<h1>Metadata editor Home</h1>

<p>Welcome to <em>UPOATES catalog</em>, a very basic Django website to list and add raw datasets, experiments and projects</p>
<p>Login to add new stuff</p>


<!--h2>UML Models</h2>
<p>An UML diagram of the site's Django model structure is shown below. </p>

<div>
{% load static %}
<img src="{% static 'images/local_library_model_uml.png' %}" alt="My image" width="600px">
</div-->  


<h2>Dynamic content</h2>

<!--p>The UPOATES lab has the following counts:</p>
<ul>
<li><strong>Persons:     </strong> {{ num_persons }}</li>
<li><strong>Affiliations:</strong> {{ num_affiliations }}</li>
<li><strong>Contributors:</strong> {{ num_contributors }}</li>
<li><strong>Contributions:</strong> {{ num_contributions }}</li>
<li><strong>Projects:</strong> {{ num_projects }}</li>
<li><strong>Experiments:</strong> {{ num_experiments }}</li>
</ul-->


<p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>

{% endblock %}
