{% extends "base_generic.html" %}

{% block content %}

<h2>Person: {{ person.first_name }} {{ person.last_name }}</h2>
<hr>
<p><strong>First Name:</strong> {{ person.first_name }}</p>
<p><strong>Last Name:</strong> {{ person.last_name }}</p>
<!--p><strong>Affiliation(s):</strong> {{ person.affiliation.all|join:'<br>' }}</p-->
<!--p><strong>Email:</strong> {{ person.email_address }}</p-->
<p><strong>Orcid:</strong> {{ person.orcid }}</p>

<hr>

<div style="margin-left:40px;margin-top:20px">
  <h4>Affiliation(s)</h4>
  <dl>
  {% for contributor in person.contributor_set.all %}
    {% for affiliation in contributor.affiliation.all %}
      <dd><a href="{% url 'affiliation-detail' affiliation.pk %}">{{affiliation}}</a> </dd>
    {% endfor %}
  {% endfor %}
  </dl>  
</div>

<hr>

<div style="margin-left:40px;margin-top:20px">
<h4>Projects</h4>
<dl>
  {% for contributor in person.contributor_set.all %}
    {% for contribution in contributor.contribution_set.all %}
      {% for experiment in contribution.experiment_set.all %}
       {{experiment.project.name}}
        {% for project in experiment.project_set.all %}
          <dd><a href="{% url 'experiment-detail' experiment.pk %}">{{project}}</a></dd>
          {% endfor %}
      {% endfor %}
    {% endfor %}
  {% endfor %}
</dl>
</div>

<hr>

<div style="margin-left:40px;margin-top:20px">
<h4>Experiments</h4>
<dl>
  {% for contributor in person.contributor_set.all %}
    {% for contribution in contributor.contribution_set.all %}
      {% for experiment in contribution.experiment_set.all %}
      <dd><a href="{% url 'experiment-detail' experiment.pk %}">{{experiment}}</a></dd>
      {% endfor %}
    {% endfor %}
  {% endfor %}
</dl>
</div>

{% endblock %}
